h1 {
    color: blue;
    background-color: rgba(212, 212, 36, 0.329);
    border: 1px solid rgb(110, 64, 64);
}

p {
    color: blueviolet;
}

body {

    text-align: center;
    color: green;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
