h1 {
    color: blueviolet;
    background-color: yellow;
    border: 1px solid black;
}

p {
    color: red;
}

body {

    text-align: center;
    color: black;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;

}


